<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle active" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Postać
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/races">Rasa</a>
          <a class="dropdown-item" routerLink="/classes">Klasa</a>
          <a class="dropdown-item" routerLink="/origins">Pochodzenie</a>
          <a class="dropdown-item" routerLink="/proficiencies">Biegłości</a>
          <a class="dropdown-item" routerLink="/heroes">Postaci</a>
          <a class="dropdown-item" routerLink="/hero-generator">Generator Postaci</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Loch
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
