<div class="row">
<!--  <div class="col">-->
<!--    <h2>Add origin</h2>-->
<!--    <form [formGroup]="originForm" (ngSubmit)="onOriginSubmit()">-->
<!--      <div class="mb-3">-->
<!--        <label for="name" class="form-label">Nazwa</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          id="name"-->
<!--          class="form-control">-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <label for="description" class="form-label">Opis</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          id="description"-->
<!--          class="form-control">-->
<!--      </div>-->
<!--      <div class="mb-3">-->
<!--        <button-->
<!--          type="submit"-->
<!--          class="btn btn-success"-->
<!--          [disabled]="!originForm.valid">Dodaj-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
  <div class="col">
    <h2>Dodaj biegłość</h2>
    <form [formGroup]="proficiencyForm" (ngSubmit)="onProficiencySubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control">
      </div>
      <div class="mb-3">
        <label for="proficiencyType" class="form-label">Typ biegłości</label>
        <select id="proficiencyType" class="form-control" formControlName="proficiencyType">
          <option value="0">Rzut Obronny</option>
          <option value="1">Umiejętność</option>
          <option value="2">Narzędzia</option>
          <option value="3">Język</option>
        </select>
      </div>
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="!proficiencyForm.valid">Dodaj
        </button>
      </div>
    </form>
  </div>
</div>
